* {
	box-sizing: border-box;
}

p {
	text-align: center;
	border: 1px solid black;
	margin-left: 15px;
	background-color: blue;
	float: left;

}

#p1 {
	
}

/*Desktop*/
@media (min-width: 992px) {
	#p1 {
		width: 30%;
		height: 110%;
		background-color: #A52A2A;

	}

	#p2 {
		width: 30%;
		height: 100%;
		background-color: #DEB887;
	}

	#p3 {
		width: 30%;
		height: 100%;
	}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 991px){

}

/*Phone*/
@media (max-width: 767px) {

}
