body {
    font-size: 16px;
    color: #fff;
    background-color: #097B4B;
}

/* Start of Navbar */
#header-nav {
    height: 120px;
    background-color: #24C87C;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1 {
    font-size: 2.8em;
    color: #C8AA24;
    text-shadow: 1px 1px 1px #555a14;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: .75;
}

.navbar-header a:hover, .navbar-header a:focus {
    text-decoration: none;
}

.color-button {
    background-color: #116B2F;
}
#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #17252a;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

#nav-list a:hover, #nav-list a:focus {
    color: #1BBB78;
    text-shadow: 1px 1px 1px #169963;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #1ee090
}

.navbar-header button.navbar-toggle {
    margin-top: -80px;
    clear: both;
}
/* End of Navbar */

/* Start of Main Content */
.lorem-ipsum {
    height: 100%;
    width: 100%;
    margin-top: 15px;
    border: 2px solid #052510;
    text-align: center;
    background-color: #36454f;
}
/* End of Main Content */

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 120px;
    }

    #collapsable-nav a {
        font-size: 2em;
        margin-top: 10px;
    }

    #collapsable-nav {
        background-color: #36454f;
    }

    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }

    .lorem-ipsum {
        width: 70%;
        margin: 0 auto 15px auto;
    }
}