body {
    font-size: 16px;
    color: #fff;
    background-color: #5e6488;
    font-family: 'Oxygen', sans-serif;}

#header-nav {
    background-color: #464d6f;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url("../images/bjorn-logo.png") no-repeat;
    width: 158px;
    height: 120px;
    margin: 10px 15px 10px 0;
    }

.navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    font-family: 'Bebas Neue', cursive;
    color: #8f92b9;
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 10px;
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}

.navbar-brand p span {
    vertical-align: middle;
    color: #fbded5;
}

#navbar-list {
    margin-top: 10px;
}

#nav-list a {
    color: #17252a;
    text-align: center;
}

#nav-list a:hover {
    background: #a7a9d2;
}

#nav-list a span {
    font-size: 1.5em;
}

#phone {
    margin-top: 5px;
}

#phone a {
    text-align: right;
    padding-bottom: 0;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #8f92b9
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}

.container .jumbotron {
    box-shadow: 0 0 50px #102021;
    border: 2px solid #576675;
}

@media (min-width: 1200px) {
    .container .jumbotron {
        background: url("../images/jumbotron-1200.jpg") no-repeat;
        height: 250px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #logo-img {
        background: url("../images/bjorn-logo.png") no-repeat;
        margin: 5px 5px 5px 0;
    }

    .container .jumbotron {
        background: url("../images/jumbotron-992.jpg");
        height: 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        height: 120px;
    }

    .container .jumbotron {
        background: url("../images/jumbotron-768.jpg") no-repeat;
        height: 200px;
    }

}

@media (max-width: 767px) {
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }

    .navbar-brand h1 {
        padding-top: 10px;
        font-size: 5vw;
    }

    .navbar-brand p {
        text-transform: uppercase;
        font-size: .6em;
        margin-top: 12px;
    }

    .navbar-brand p img {
        height: 20px;
    }

    #collapsable-nav a {
        font-size: 1.2em;
    }

    #collapsable-nav a span {
        font-size: 1em;
        margin-right: 5px;
    }

    #call-btn > a {
        font-size: 1.5em;
        display: block;
        margin: 0 20px;
        padding: 10px;
        border: 2px solid #8f92b9;
        background-color: #3d4468;
        color: #fbded5;
    }

    .container .jumbotron {
        margin-top: 30px;
        padding: 0;
    }
}